<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head"/>
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav"/>

<div class="container">
  <h2 th:text="#{professor.details.title}">Detalles</h2>                                                                            
  <div class="panel panel-default">
	  <div class="panel-heading" th:text="#{professor.name}"></div>
	  <div class="panel-body" th:text="${professor.name}">
		Ejercicio 1
	  </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading" th:text="#{professor.surname}"></div>
	  <div class="panel-body" th:text="${professor.lastName}">
		100
	  </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading" th:text="#{professor.dni}"></div>
	  <div class="panel-body" th:text="${professor.dni}">
		100
	  </div>
  </div>
  <div class="panel panel-default">
	  <div class="panel-heading" th:text="#{professor.category}"></div>
	  <div class="panel-body" th:text="${professor.category}">
		100
	  </div>
  </div>
</div>
</body>
</html>
