<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head"/>
	<body>
		<!-- Barra de Navegación superior -->
		<nav th:replace="fragments/nav"/>
		
		<div class="container">
		  <h2 th:text="#{mark.details.title}"></h2>   
		  <div class="panel panel-default">
			 <div class="panel-heading" th:text="#{mark.details.dni}"></div>
			 <div class="panel-body" th:text="${mark.user.dni}" >
				28276
			 </div>
		  </div>                                                                         
		  <div class="panel panel-default">
			  <div class="panel-heading" th:text="#{mark.details.description}"></div>
			  <div class="panel-body" th:text="${mark.description}">
				Ejercicio 1
			  </div>
		  </div>
		  <div class="panel panel-default">
			  <div class="panel-heading" th:text="#{mark.details.mark}"></div>
			  <div class="panel-body" th:text="${mark.score}">
				
			  </div>
		  </div>
		</div>
	</body>
	<footer th:replace="fragments/footer"/>
</html>
